<launch>
    <!-- Args-->
    <arg name="goalnav_on" default="false"/>
    <arg name="teleop_on" default="true"/>
    <arg name="joystick_on" default="false"/>
    <arg name="amcl_on" default="false"/>
    <arg name="slam_on" default="true"/>

    <!-- Drive controller -->
    <include file="$(find ottobot_control)/launch/control.launch"/>

    <!-- Sensors -->
    <include file="$(find ottobot_sense)/launch/sense.launch"/>

    <!-- Navigation -->
    <include file="$(find ottobot_navigation)/launch/navigation.launch">
        <arg name="goalnav_on" default="$(arg goalnav_on)"/>
        <arg name="teleop_on" default="$(arg teleop_on)"/>
        <arg name="joystick_on" default="$(arg joystick_on)"/>
        <arg name="amcl_on" default="$(arg amcl_on)"/>
        <arg name="slam_on" default="$(arg slam_on)"/>
    </include>
    

</launch>