<launch>
    <!-- Args-->
    <arg name="goalnav_on" default="false"/>
    <arg name="teleop_on" default="true"/>
    <arg name="joystick_on" default="false"/>
    <arg name="amcl_on" default="false"/>
    <arg name="slam_on" default="true"/>

    
    <!--launch rviz-->
    <group if="$(eval amcl_on or slam_on)">
        <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find ottobot_main)/rviz/slam_config.rviz"/>
    </group>
    <group unless="$(eval amcl_on or slam_on)">
        <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find ottobot_main)/rviz/teleop_config.rviz"/>
    </group>

</launch>