<launch>
    <!-- Args-->
    <arg name="debug" default="true" />
    <arg name="enable_goalnav" default="false" />
    <arg name="enable_amcl" default="false" />
    <arg name="enable_slam" default="false" />
    <arg name="enable_teleop" default="true" />
    <arg name="enable_joystick" default="false" />

    <!-- Arduino -->
    <node name="rosserial_node" pkg="rosserial_python" type="serial_node.py" >
        <param name="port" type="string" value="/dev/ttyACM0" />
        <param name="baud" type="int" value="115200" />
    </node>

    <!-- Robot onboard launch, includes control -->
    <include file="$(find ottobot_robot)/launch/robot.launch">
        <arg name="enable_goalnav" default="$(arg enable_goalnav)"/>
        <arg name="enable_amcl" default="$(arg enable_amcl)"/>
        <arg name="enable_slam" default="$(arg enable_slam)"/>
    </include>

    <!-- Hardware interface -->
    <rosparam file="$(find ottobot_hardware)/config/hardware_params.yaml" command="load" />
    <rosparam file="$(find ottobot_hardware)/config/joint_limits_params.yaml" command="load" />
    <node name="ottobot_hardware" pkg="ottobot_hardware" type="ottobot_hardware_node" respawn="false" output="screen"
        launch-prefix="$(eval 'gdb -ex run' if debug else '')"> 
    </node>

</launch>