<launch>
    <!-- Args-->
    <arg name="goalnav_on" default="false"/>
    <arg name="amcl_on" default="false"/>
    <arg name="slam_on" default="false"/>

    <!-- Robot description -->
    <include file="$(find ottobot_description)/launch/robot_description.launch"/>

    <!-- Drive controller -->
    <include file="$(find ottobot_control)/launch/control.launch"/>

    <!-- Sensors -->
    <!-- <include file="$(find ottobot_sense)/launch/sense.launch"/> -->

    <!-- Send robot states to tf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

    <!-- Navigation -->
    <include file="$(find ottobot_navigation)/launch/navigation.launch">
        <arg name="goalnav_on" default="$(arg goalnav_on)"/>
        <arg name="amcl_on" default="$(arg amcl_on)"/>
        <arg name="slam_on" default="$(arg slam_on)"/>
    </include>
    

</launch>