<?xml version="1.0"?>
<launch>
  <arg name="enable_kinect" default="false"/>
  <arg name="enable_lidar" default="false"/>

  <!-- send urdf to param server -->
  <param name="robot_description" command="
    $(find xacro)/xacro '$(find ottobot_description)/urdf/ottobot.urdf.xacro'
    enable_kinect:=$(arg enable_kinect)
    enable_lidar:=$(arg enable_lidar)
  " />

</launch> 