<launch>
    <arg name="goalnav_on" default="false"/>
    <arg name="amcl_on" default="false"/>
    <arg name="slam_on" default="true"/>

    <!-- SLAM mapping -->
    <group if="$(arg slam_on)">
        <include file="$(find ottobot_navigation)/launch/mapping.launch"/>
    </group>

    <!-- Move base node name="move_base" -->
    <group if="$(arg goalnav_on)">
        <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">

            <remap from="cmd_vel" to="/ottobot_diff_drive_controller/cmd_vel" />
            <remap from="odom" to="/ottobot_diff_drive_controller/odom" />

            <param name="base_global_planner" value="navfn/NavfnROS" />
            <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
            <rosparam file="$(find ottobot_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find ottobot_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find ottobot_navigation)/config/local_costmap_params.yaml" command="load" />
            <rosparam file="$(find ottobot_navigation)/config/global_costmap_params.yaml" command="load" />
            <rosparam file="$(find ottobot_navigation)/config/base_local_planner_params.yaml" command="load" />
        </node>
    </group>

    <!-- AMCl node name="amcl" -->
    <group if="$(arg amcl_on)">
        <!-- Map server node name="map_server" -->
        <arg name="map_file" default="$(find ottobot_navigation)/maps/map.yaml"/>
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

        <node name="amcl" pkg="amcl" type="amcl" output="screen">
            <remap from="scan" to="scan" />
            <rosparam file="$(find ottobot_navigation)/config/amcl_params.yaml" command="load" />
        </node>
    </group>

    
</launch>