<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!--  Load drive controller -->
    <rosparam file="$(find ottobot_control)/config/control_params.yaml" command="load" />
    <node name="ottobot_controller_manager" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="ottobot_diff_drive_controller" >
    </node>

</launch>