<launch>
    <!-- Args-->
    <arg name="debug" default="false" />

    <node name="sensor_variance_calculator" pkg="variance_calculator" type="sensor_variance.py" 
        launch-prefix="$(eval 'gnome-terminal -e python -m pdb' if debug else '')">
        <rosparam file="$(find variance_calculator)/config/odom_params.yaml" command="load" />
    </node>

</launch>
